{% extends 'base.html.twig' %}

{% block title %}Hello MController!{% endblock %}

{% block body %}
<h1>The timezone {{ timezone }} has {{ timeOffset }}  minutes offset to UTC.</h1>
<h1>February in this year has {{ feb }} days.</h1>
<h1>Specified month ({{ month }}) has {{ number }} days.</h1>
{% endblock %}
